{% extends 'users/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/nouislider.css' %}">
{% endblock %}

{% block content %}
                <div class="profile_content">

                    <div class="profile_img_block">
                        {% if user.image %}
                            <img class="profile_img" src="{{ user.image.url }}" alt="">
                        {% else %}
                            <img class="profile_img" src="{% static 'svg/profile.svg' %}" alt="">
                        {% endif %}
                        <form method="post" action="{% url 'users:profile_edit' user.id %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form_container_upload_avatar">
                                {{ form.image }}
                            </div>
                            <div class="button_container_upload_avatar">
                                <button class="upload_avatar" style="margin-top: 15px;">Загрузить изображение</button>
                            </div>
                        </form>
                    </div>

                    <div class="profile_information">
                        <form method="post" action="{% url 'users:profile_edit' user.id %}">
                            <div class="profile_input">Имя:<span style="margin-left: 61px;">{{ user.username }}</span></div>
                            <div class="profile_input">Email:<span style="margin-left: 51px;">{{ user.email }}</span></div>
                            <div class="profile_input">Регион:<input type="text" style="margin-left: 27px;" placeholder="{% if user.town %}{{ user.town }}{% endif %}"></div>
                            <div class="profile_input">О продавце: <textarea class="edit_profile_description">{% if user.description %}{{ user.description }}{% endif %}</textarea></div>
                            <div class="button_upload_avatar">
                                <button class="upload_avatar" style="width: 150px;">Сохранить</button>
                            </div>
                        </form>
                    </div>

                    <div class="back_to_profile">
                        <a class="back_to_profile_a" href="{% url 'users:profile' user.id %}">
                            <img src="{% static 'svg/back.svg' %}" alt="">
                        </a>
                    </div>
                </div>
                <span class="border_line_profile"></span>
{% endblock %}