{% extends 'users/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/nouislider.css' %}">
{% endblock %}

{% block content %}
                <div class="profile_content">

                    <div class="profile_img_block">
                        {% if user.image %}
                            <img class="profile_img" src="{{ user.image.url }}" alt="">
                        {% else %}
                            <img class="profile_img" src="{% static 'svg/profile.svg' %}" alt="">
                        {% endif %}
                        <form method="post" action="{% url 'users:profile_edit' user.id %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form_container_upload_avatar">
                                {{ form.image }}
                            </div>
                            <div class="button_container_upload_avatar">
                                <button class="upload_avatar" style="margin-top: 15px;">Загрузить изображение</button>
                            </div>
                        </form>
                    </div>

                    <div class="profile_information">
                        <form method="post" action="{% url 'users:profile_edit' user.id %}">
                            <div class="profile_input">Имя:<span style="margin-left: 61px;">{{ user.username }}</span></div>
                            <div class="profile_input">Email:<span style="margin-left: 51px;">{{ user.email }}</span></div>
                            <div class="profile_input">Регион:<input type="text" style="margin-left: 27px;" placeholder="{% if user.town %}{{ user.town }}{% endif %}"></div>
                            <div class="profile_input">О продавце: <textarea class="edit_profile_description">{% if user.description %}{{ user.description }}{% endif %}</textarea></div>
                            <div class="button_upload_avatar">
                                <button class="upload_avatar">Сохранить</button>
                            </div>
                        </form>
                    </div>

                    <div class="back_to_profile">
                        <a class="back_to_profile_a" href="{% url 'users:profile' user.id %}">
                            <img src="{% static 'svg/back.svg' %}" alt="">
                        </a>
                    </div>
                </div>


                <span class="border_line_profile"></span>

                <div class="last_views_block">

                    <span class="last_views_span">Недавно просмотренные</span>

                    <div class="last_views_products">

                        <div class="last_view_product">
                            <div class="last_view_product_href">
                                <a class="last_view_product_info" href="product.html?_ijt=7ue24dfmd95tdstq5io4er5dhg">
                                    <img class="last_view_product_image" src="{% static 'product4.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="last_view_product">
                            <div class="last_view_product_href">
                                <a class="last_view_product_info" href="product.html?_ijt=7ue24dfmd95tdstq5io4er5dhg">
                                    <img class="last_view_product_image" src="{% static 'product1.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="last_view_product">
                            <div class="last_view_product_href">
                                <a class="last_view_product_info" href="product.html?_ijt=7ue24dfmd95tdstq5io4er5dhg">
                                    <img class="last_view_product_image" src="{% static 'product3.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="last_view_product">
                            <div class="last_view_product_href">
                                <a class="last_view_product_info" href="product.html?_ijt=7ue24dfmd95tdstq5io4er5dhg">
                                    <img class="last_view_product_image" src="{% static 'product2.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="last_view_product">
                            <div class="last_view_product_href">
                                <a class="last_view_product_info" href="product.html?_ijt=7ue24dfmd95tdstq5io4er5dhg">
                                    <img class="last_view_product_image" src="{% static 'product4.png' %}" alt="">
                                </a>
                            </div>
                        </div>

                    </div>

                </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('img.product_favorite').each(function(i) {
                $(this).click(function() {
                    $('#' + (i+1)).toggleClass('product_favorite_active');
                });
            });
        });
    </script>
    <script src="{% static 'js/nouislider.js' %}"></script>
{% endblock %}