{% extends 'users/base.html' %}
{% load static %}
{% block content %}
                <div class="cabinet_content">
                    <div class='b2'>
                        <span class="border_line_profile"></span>

                        <form method="post" enctype="multipart/form-data" class="add_product_content_body">
                            {% csrf_token %}
                            <div class="add_product_content_body_left" style="display: none;">
                                <div class="carousel" style="height: 470px; width: 102px; justify-content: center;">
                                    <button type="button" class="carousel_button_previous" style="display: none;"><img src="{% static 'svg/arrow_up.svg' %}" alt=""></button>
                                    <ul class="slides">
                                    </ul>
                                    <button type="button" class="carousel_button_next" style="display: none;"><img src="{% static 'svg/arrow_down.svg' %}" alt=""></button>
                                </div>
                            </div>
                            <div class="add_product_content_body_center" >
                                <span style="font-size: 16px; margin-bottom: 20px; padding-top: 5px;">Фотографии</span>
                                <span class="photo_permission" style="margin-bottom: 25px;">Не более 10</span>
                                <img class="photo_main_image" src="{% static 'svg/add_photo22.svg' %}" style="width: 300px; height: 300px; border: 1px solid #5D71DD; background-color: white;" alt="">
                                <div class="form_container_upload_avatar" style="min-width: 300px;">
                                    {{ form.images }}
                                </div>
                                <div class="add_product_add_images" id="preview-container"></div>
                            </div>
                            <div class="add_product_content_body_right" style="margin-right: 120px;">
                                <span class="add_product_add_info">Название<input type="text" name="name"></span>
                                <span class="add_product_add_info">Цена <input type="text" name="price"></span>
                                <span class="add_product_add_info">Категория <input style="margin-bottom: 15px;" type="text" name="category"></span>
                                <span class="add_product_add_info">Описание <textarea class="add_product_add_description" name="description"></textarea></span>
                            </div>
                        </form>

                        <span class="border_line_profile" style="margin-bottom: 20px; margin-top: 0;"></span>
                        <button class="upload_avatar" style="margin-top: 30px; height: 28px; min-width: 10%;">Создать</button>
                    </div>
                </div>
{% endblock %}

{% block script %}
    <script>
        let slides = document.querySelectorAll('.slide');
        let mainPhoto = document.querySelector('.photo_main_image')
        slides.forEach(function (slide) {
            slide.addEventListener('click', function () {
                const activeSlide = document.querySelector('[data-active]')
                delete activeSlide.dataset.active;
                slide.dataset.active = true;
                mainPhoto.src = ($('[data-active]').find("img").attr("src"))
            });
        });
    </script>

    <script>
        $(document).ready(function() {
            $('.photo_main_image').click(function() {
                $('input#id_images').click();
            });
        });
    </script>
    <script>
        let files = []; // Глобальная переменная для хранения выбранных файлов

        $('input[type="file"]').on('change', function() {
          let newFiles = Array.from($(this)[0].files); // Новые догружаемые файлы
          let previewContainer = $('.slides');
          let slider_container = $('.carousel');
          let profileImg = $('.photo_main_image');
          let currentIndex = 0;
          let validExtensions = ['jpg', 'jpeg', 'png']; // Подходящие расширения файлов

          // Удаление существующих обработчиков событий
          previewContainer.off('click', '.slide img');
          slider_container.off('click', '.carousel_button_previous');
          slider_container.off('click', '.carousel_button_next');


          if (files.length + newFiles.length > 10) {
            alert('Максимальное количество файлов 10');
            $(this).val(''); // Очищаем поле выбора файлов
            return;
          }

          // Фильтрация выбранных файлов по расширениям
          let filteredFiles = newFiles.filter(function(file) {
            let fileExtension = file.name.split('.').pop().toLowerCase();
            return validExtensions.includes(fileExtension);
          });

          // Проверка наличия подходящих изображений
          if (filteredFiles.length === 0) {
            // Если нет подходящих изображений, очищаем список файлов и завершаем функцию
            $(this).val('');
            return;
          }

          // Добавление новых файлов в список файлов
          files = files.concat(filteredFiles);

          // Цикл по выбранным файлам
          for (let i = 0; i < filteredFiles.length; i++) {
            let file = filteredFiles[i];

            let reader = new FileReader();

            // Создание элемента изображения для предварительного просмотра
            let imgElement = $('<img>');

            // Создание элемента SVG для крестика
            let svgElement = $('<svg class="delete-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"/></svg>');
            svgElement.css('margin-top', '3px');
            svgElement.css('margin-right', '2px');
            // Обработчик события клика на крестике
            svgElement.on('click', function() {
              let imageContainer = $(this).parent();
              let index = imageContainer.index();

              // Удаление изображения и крестика
              imageContainer.fadeOut('slow', function() {
                $(this).remove();

                // Удаление файла из списка файлов
                files.splice(index, 1);
                console.log(files);

                // Проверка, является ли удаленное изображение главной фотографией
                if (index === currentIndex) {
                  currentIndex = 0; // Сбрасываем текущий индекс в 0
                  updateMainPhoto(); // Обновляем главную фотографию
                } else if (index < currentIndex) {
                  currentIndex--; // Если удаленное изображение находится перед текущей главной фотографией, корректируем текущий индекс
                }

                // Проверка, если все фотографии удалены, сброс главной фотографии
                if (files.length === 0) {
                  profileImg.attr('src', '{% static 'svg/add_photo22.svg' %}');
                  profileImg.css('background-color', 'white');
                  $('.carousel').css('margin-right', '0');
                  $('.add_product_content_body_center').css('margin-left', '0');
                  $('.add_product_content_body_right').css('margin-left', '0');
                  $('.add_product_content_body_left').css('display', 'none');
                }
                else {
                    $('.add_product_content_body_left').css('display', 'block');
                    $('.carousel').css('margin-right', '-130px');
                    $('.add_product_content_body_center').css('margin-left', '-80px');
                    $('.add_product_content_body_right').css('margin-left', '-180px');
                }
                if (files.length >= 5) {
                    $('.carousel_button_previous').css('display', 'block');
                    $('.carousel_button_next').css('display', 'block');
                    $('.slides').css('justify-content', 'normal');
                }
                else {
                    $('.carousel_button_previous').css('display', 'none');
                    $('.carousel_button_next').css('display', 'none');
                    $('.slides').css('justify-content', 'center');
                    $('.slides').css('height', '430px');
                }
                $('.photo_permission').text(`Загружено ${files.length} из 10`);
              });
            });


            // Обработчик события загрузки файла
            reader.onload = (function(img) {
              return function(e) {
                imgElement.attr('src', e.target.result);
              };
            })(imgElement);

            // Проверка, является ли файл экземпляром Blob перед чтением
            if (file instanceof Blob) {
              reader.readAsDataURL(file);
            }

            // Добавление изображения и крестика в контейнер предварительного просмотра
            let imageContainer = $('<li class="slide"></li>');
            imageContainer.append(imgElement);
            imageContainer.append(svgElement);
            imageContainer.data('file', file); // Сохранение файла в элементе контейнера
            previewContainer.append(imageContainer);
            let specificContainer = $('.slides');
            specificContainer.append(imageContainer);
          }

          // Функция для обновления главного фото
          function updateMainPhoto() {
            if (files.length > 0 && currentIndex >= 0 && currentIndex < files.length) {
              let file = files[currentIndex];
              let reader = new FileReader();

              // Обработчик события загрузки файла
              reader.onload = function(e) {
                profileImg.attr('src', e.target.result);
              };

              // Проверка, является ли файл экземпляром Blob перед чтением
              if (file instanceof Blob) {
                reader.readAsDataURL(file);
              }

              // Удаление атрибута data-active у всех контейнеров slide
              $('.slides .slide').removeAttr('data-active');

              // Добавление атрибута data-active к текущему контейнеру slide
              $('.slides .slide').eq(currentIndex).attr('data-active', '');
            }
          }

          // Обработчик события клика на изображении предварительного просмотра
          previewContainer.on('click', '.slide img', function() {
            currentIndex = $(this).parent().index();
            updateMainPhoto();
          });

          // Обновить главное фото при загрузке страницы
          updateMainPhoto();
          console.log(files);
          if (files.length !== 0) {
              $('.add_product_content_body_left').css('display', 'block');
              $('.carousel').css('margin-right', '-130px');
              $('.add_product_content_body_center').css('margin-left', '-80px');
              $('.add_product_content_body_right').css('margin-left', '-180px');
          }
          else {
              $('.carousel').css('margin-right', '0');
              $('.add_product_content_body_center').css('margin-left', '0');
              $('.add_product_content_body_right').css('margin-left', '0');
              $('.add_product_content_body_left').css('display', 'none');
          }
          $('.photo_permission').text(`Загружено ${files.length} из 10`);
          if (files.length >= 5) {
              $('.carousel_button_previous').css('display', 'block');
              $('.carousel_button_next').css('display', 'block');
              $('.slides').css('justify-content', 'normal');
          }
          else {
              $('.carousel_button_previous').css('display', 'none');
              $('.carousel_button_next').css('display', 'none');
              $('.slides').css('justify-content', 'center');
              $('.slides').css('height', '430px');
          }
          slider_container.on('click', '.carousel_button_previous', function() {
            handleImageChange(-1);
          });
          slider_container.on('click', '.carousel_button_next', function() {
            handleImageChange(1);
          });

          let handleImageChange = (offset) =>{
            let activeSlide = document.querySelector('[data-active]');
            let slides = [...document.querySelectorAll('.slide')];
            let currentIndex1 = slides.indexOf(activeSlide);
            let currentIndex2 = currentIndex1 + offset;
            currentIndex = currentIndex1 + offset;
            if(currentIndex2 < 0) currentIndex2 = slides.length - 1;
            if(currentIndex2 >= slides.length) currentIndex2 = 0;
            slides[currentIndex2].scrollIntoView({block: "end", behavior: "smooth"});
            slides[currentIndex1].removeAttribute('data-active');
            slides[currentIndex2].setAttribute('data-active', '');
            let nextImageSrc = slides[currentIndex2].querySelector('img').getAttribute('src');
            profileImg.attr('src', nextImageSrc);
          }
        });
    </script>
    <script>
      // Функция для получения значения CSRF-токена из cookie
      function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
          let cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
            let cookie = jQuery.trim(cookies[i]);
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
            }
          }
        }
        return cookieValue;
      }
      $(document).ready(function() {
        $('.upload_avatar').click(function(e) {
          e.preventDefault(); // Отменяем стандартное поведение кнопки

          // Собираем данные формы
          let form_data = new FormData();
          form_data.append('name', $('input[name="name"]').val());
          form_data.append('price', $('input[name="price"]').val());
          form_data.append('category', $('input[name="category"]').val());
          form_data.append('description', $('textarea[name="description"]').val());

          // Добавляем каждое изображение в FormData
          for (let i = 0; i < files.length; i++) {
              form_data.append('images', files[i]);
          }


          let csrftoken = getCookie('csrftoken');
          let imageUrl = $('.photo_main_image').attr('src');
            fetch(imageUrl)
              .then(response => response.blob())
              .then(blob => {
                let file = new File([blob], 'image.jpg', { type: 'image/jpeg' });
                form_data.delete('image');
                form_data.append('image', file);

                // Отправка POST-запроса на сервер
                $.ajax({
                  url: '/product/create/',
                  type: 'POST',
                  data: form_data,
                  beforeSend: function(xhr) {
                    xhr.setRequestHeader('X-CSRFToken', csrftoken);
                  },
                  processData: false,
                  contentType: false,
                  success: function(response) {
                    // Обработка успешного ответа от сервера
                    window.location.href = "{% url 'product:index' %}";
                    // Дополнительные действия после создания товара
                  },
                  error: function(xhr, errmsg, err) {
                    // Обработка ошибки при отправке запроса
                    console.log(xhr.status + ": " + xhr.responseText);
                  }
                });
              })
              .catch(error => {
                console.log('Ошибка при получении файла изображения:', error);
              });
        });
      });
    </script>
{% endblock %}