<!DOCTYPE html>
{% extends 'products/base.html' %}
{% load static %}
<html lang="en">

{% block content %}
<div class="info_content" style="border-bottom: 1px solid #DBDCDD; border-top: 1px solid #DBDCDD;"><p style="padding-bottom: 30px; padding-top: 30px;">Добро пожаловать на наш маркетплейс, где вы можете найти уникальную и оригинальную хэнд-мейд одежду,
    созданную талантливыми дизайнерами со всего мира. Наша платформа предоставляет возможность продавцам показать свои творческие
    работы и предложить их покупателям, которые ценят индивидуальный подход и уникальность. Мы уверены, что каждый найдет здесь
    что-то для себя: от эксклюзивных нарядов для особенных событий до уютных повседневных вещей, которые выделят вас из толпы.
    Наш маркетплейс является идеальным местом для тех, кто хочет поддержать талантливых мастеров и получить настоящее удовольствие от
    покупки. Приглашаем вас присоединиться к нашей креативной и вдохновляющей общественности!</p>
</div>
{% endblock %}
