<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block css %} {% endblock %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&amp;display=swap" rel="stylesheet">
    <title>{{ title }}</title>
</head>
<body>
    <div class="container">
        <header>
            <div class="main_head">
                <a class="main_logo" href="{% url 'index' %}">ClickCustom</a>
                <div class="header_search">
                  <form class="search_form">
                    <input type="text" class="search_input" placeholder="Что будем искать?">
                    <button type="button" class="search_button">
                      <img src="{% static 'svg/search.svg' %}" alt="">
                    </button>
                  </form>
                </div>
                <div class="menu">
                    {% if user.is_authenticated %}
                        <a class="menu_element" href="workshop.html?_ijt=7ue24dfmd95tdstq5io4er5dhg"><img src="{% static 'svg/catalog.svg' %}" alt="">Мастерская</a>
                        <a class="menu_element" href="{% url 'index' %}"><img src="{% static 'svg/catalog.svg' %}" alt="">Каталог</a>
                        <a class="menu_element" href="favorites.html?_ijt=7ue24dfmd95tdstq5io4er5dhg"><img src="{% static 'svg/favorites.svg' %}" alt="">Избранное</a>
                        <a class="menu_element" href="{% url 'users:profile' request.user.id %}"><img src="{% static 'svg/profile.svg' %}" alt="">{{ request.user.username }}</a>
                        <a class="menu_element" href="{% url 'users:logout' %}"><img src="{% static 'svg/back.svg' %}" alt="">Выйти</a>
                    {% else %}
                        <a class="menu_element" href="{% url 'index' %}"><img src="{% static 'svg/catalog.svg' %}" alt="">Каталог</a>
                        <a class="menu_element" onclick="
                            document.getElementById('id01').style.display='none';
                            document.getElementById('id02').style.display='none';
                            document.getElementById('id03').style.display='none';
                            document.getElementById('id01').style.display='block'; clearInputForm();"><img src="{% static 'svg/profile.svg' %}" alt="">Авторизоваться</a>
                    {% endif %}
                </div>
            </div>
        </header>

        <section class="content">
            <div class="main_body">
                {% block content %} {% endblock %}
            </div>
        </section>
        <footer>
            <div class="main_footer">
                <ul class="menu">
                    <li><a href="{% url 'index' %}">Главная</a></li>
                    <li><a href="{% url 'product:about' %}">О нас</a></li>
                    <li><a href="{% url 'product:confident' %}">Политика конфиденциальности</a></li>
                    <li><a href="{% url 'index' %}">Помощь</a></li>
                    <li><a href="{% url 'product:oferta' %}">Оферта</a></li>
                </ul>
                <ul class="social_icon">
                    <li><a href="#" class="logo_social"><img src="{% static 'svg/tiktok.svg' %}" alt=""></a></li>
                    <li><a href="#" class="logo_social"><img src="{% static 'svg/vkontakte.svg' %}" alt=""></a></li>
                    <li><a href="#" class="logo_social"><img src="{% static 'svg/instagram.svg' %}" alt=""></a></li>
                    <li><a href="#" class="logo_social"><img src="{% static 'svg/telegram.svg' %}" alt=""></a></li>

                </ul>
                <p>&copy 2023 ClickCustom | All Rights Reserved</p>

            </div>
        </footer>
    </div>
{% if not user.is_authenticated %}



    <div id="id01" class="authorization_close">
        <form method="post" action="{% url 'users:log_in' %}" id="login" name="login" class="authorization animate">
            {% csrf_token %}
            <div class="span_helpers">
                <span class="back_to_login"></span>
                <div class="error_form_registration"></div>
                <span onclick="document.getElementById('id01').style.display='none'" class="close">&times;</span>
            </div>
            <a class="authorization_logo">Авторизация</a>
            <div class="authorization_label" style="margin: 0; margin-top: 15px;">Введите данные своей учетной записи</div>
            <div class="container1">
                <input name="username" id="login_username" type="text" placeholder="Имя пользователя" required>
                <input name="password" id="login_password" type="password" placeholder="Пароль" required>
                <div class="buttons_authorization">
                    <button class="authorization_button" type="submit" style="width: 110px;">Войти</button>
                    <button onclick="document.getElementById('id01').style.display='none';
                            document.getElementById('id03').style.display='block'; clearInputForm()"
                            class="authorization_button" type="button">Забыли пароль?</button>
                </div>
                <span class="you_dont_have_account">У тебя нет аккаунта? <a class="registration_ask"
                        onclick="document.getElementById('id01').style.display='none';
                        document.getElementById('id02').style.display='block'; clearInputForm();">Зарегистрируйся
                </a></span>
            </div>
        </form>
    </div>



    <div id="id02" class="authorization_close">
        <form method="post" id="registration" name="registration" action="{% url 'users:registration' %}" class="authorization animate" style="height: 440px;">
            {% csrf_token %}
            <div class="span_helpers">
                <span onclick="document.getElementById('id02').style.display='none';
                document.getElementById('id01').style.display='block'; clearInputForm();" class="back_to_login">&larr;</span>
                <div class="error_form_registration"></div>
                <span onclick="document.getElementById('id02').style.display='none'" class="close">&times;</span>
            </div>
            <a class="authorization_logo">Регистрация</a>
            <div class="authorization_label" style="margin: 0; margin-top: 15px;">Введите данные своей учетной записи</div>
            <div class="container1">
                <input id="email" name="email" type="email" placeholder="Адрес электронной почты" required>
                <input id="rega_username" name="username" type="text" placeholder="Имя пользователя" required>
                <input id="rega_password" name="password" type="password" placeholder="Пароль" required>
                <input id="confirm_password" name="confirm_password" type="password" placeholder="Повторите Пароль" required>
                <button id="submitButton" class="authorization_button" type="submit">Зарегистрироваться</button>
            </div>
        </form>
    </div>



    <div id="id03" class="authorization_close">
      <form id="restore_account" action="" class="authorization animate" style="height: 320px;">
          {% csrf_token %}
          <div class="span_helpers">
              <span onclick="document.getElementById('id03').style.display='none';
              document.getElementById('id01').style.display='block'; clearInputForm();" class="back_to_login">&larr;</span>
              <div class="error_form_registration"></div>
              <span onclick="document.getElementById('id03').style.display='none'" class="close">&times;</span>
          </div>
          <a class="authorization_logo" style="font-size: 26px;">Восстановление доступа</a>
          <div class="authorization_label" style="margin: 0; margin-top: 15px; text-align: center">Введите адрес электронной почты, на которую зарегистрирован ваш аккаунт</div>
        <div class="container1">
            <input id="restore_input" class='authorization_username' name="email" type="text" placeholder="Адрес электронной почты">
            <button class="authorization_button" type="submit">Отправить</button>
        </div>
      </form>
    </div>



{% endif %}
    <script src="{% static 'jquery/jquery.js' %}"></script>
    {% block script %} {% endblock %}
    <script src="{% static 'js/authorization.js' %}"></script>
    <script src="{% static 'js/range-slider.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript">
        window.onbeforeunload = function () {
          window.scrollTo(0, 0);
        }
    </script>
</body>
</html>