{% extends 'users/base.html' %}
{% load static %}
{% block content %}
                <div class="products_list">
                {% for product in favorite_products %}
                    <div class="product">
                        <div class="product_href">
                            <div class="product_favorite_div">
                                <img class="product_favorite product_favorite_active" id="{{ product.product.id }}" src="{% static 'svg/heart.svg' %}" alt="">
                            </div>
                            <img class="product_image" src="{{ product.product.image.url }}" alt="">
                            <a class="product_info" href="{% url 'products:product' product.product.id %}">
                                <div class="product_name_div"><span class="product_name">{{ product.product.name }}</span></div>
                                <span class="product_price">{{ product.product.price }} ₽</span>
                                <span class="border_line"></span>
                                <span class="product_town">Калининградская область</span>
                            </a>
                        </div>
                    </div>
                {% endfor %}
                </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('img.product_favorite').each(function() {
                let productId = $(this).attr('id');
                $(this).click(function () {
                    removeProductFromFavorite(productId);
                    let productBlock = $(this).closest('.product');
                    productBlock.hide();
                });
            });
        });

        function removeProductFromFavorite(productId) {
            $('#' + productId).removeClass('product_favorite_active');

            $.ajax({
                url: "{% url 'product:removeProductFromFavorite' %}",
                data: {
                id: productId,
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                },
                success: function(response) {
                    if (response.id_exist) {
                        console.log('Продукт удален из избранного');
                    } else {
                        console.log('Не удалось удалить продукт из избранного');
                    }
                }
            });
        }
    </script>
{% endblock %}